<!--
    Title: register.ejs
    Author: Manel Phiseme
    Date: 7/3/2022
    Description: Registration form.
-->
<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>Register</title>
        <link href="css/theme.css" type="text/css" rel="stylesheet">
        <link href="css/pages.css" type="text/css" rel="stylesheet">  
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap" rel="stylesheet">      
    </head>
    <body>
       
        <%- include('partials/headers') %>
<section>
    <h1>Registration Form</h1>
<form id="contactCard" action="/register" method="POST">
    <div>
        <label for="name" class="userInp"  >Username</label>
        <input id="name" class="allInput" name="name">
    </div>
    <div>
        <label for="password" class="userInp"  >Password</label>
        <input type="hidden" name="_csrf"  value="<%= csrfToken %>">
        <input id="password" class="allInput" name="password">
    </div>
    <div>
        <label for="email" class="userInp"  >Email</label>
        <input id="email" class="allInput" name="email">
    </div>
    <div>
        <button type="submitm" id="bntId" class="userInp">Sign UP</button>
    </div>
    <div>
        <button type="submitm" id="bntI2" class="userInp"><a href="/user_list">User's list</a></button>
    </div>    

</section>
<section>
    <table id="table1">
        <tr>
            <th>Username</th>
            <th>Email</th>
        </tr>
        <tbody>
            <% users.forEach(function(user){ %>
        <tr>
            <td>
                <%= user.username %>
            </td>
            <td>
                <%= user.email %>
            </td>
        </tr>
        </tbody>
        <% }) %>

    </table> 
</section>
<%- include('partials/footer') %>    
    </body>
</html>
  
 


    


